#secao-noti{
    width: 100%;
    height: 100vh; /* Ajuste para ocupar a tela inteira */
    display: flex;
    align-items: center;
    justify-content: center;
}
    

.noti-container {
    width: 60%;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.noti-header {
    background-color: #00796B;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.noti {
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noti:last-child {
    border-bottom: none;
}

.noti-content {
    flex: 1;
    margin-right: 15px;
}

.noti-time {
    font-size: 0.9em;
    color: #888;
}

.apagar-btn {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 1.2em;
}

.apagar-btn:hover {
    transition: 0.2s;
    background-color: #77b255;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 100%;
    color: white;
}

@media (max-width: 600px) {
    .noti {
        flex-direction: column;
        align-items: flex-start;
    }

    .noti {
        margin-top: 5px;
    }
}