/* Reseta as margens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão e cor do texto */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f3f3f3;
}

/* Container principal */
.soli-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}


.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Alinhar itens para a mesma altura */
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    gap: 20px;
}

.formulario-evento {
    background-color: white;
    width: 40%;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mapa {
    width: 55%;
    display: flex;
    justify-content: center;
}

#map {
    height: 100px; 
    border-radius: 8px;
}

/* Formulário de Evento 
.formulario-evento {
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}*/

.formulario-evento h3 {
    text-align: center;
    color: #00796B;
    margin-bottom: 20px;
}

/* Estilo dos Labels e Inputs */
.form-group label {
    font-weight: bold;
    color: #00796B;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

textarea.form-control {
    resize: vertical;
}

/* Estilo dos Botões */
.btn-success {
    background-color: #00796B;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #01665a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(25%) sepia(100%) saturate(6) hue-rotate(-260deg);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(25%) sepia(100%) saturate(6) hue-rotate(-260deg);
}

.form-control:required:invalid::-webkit-datetime-edit {
    color: #1b5d00;
}

/* Responsividade */
@media (max-width: 1024px) {
    .soli-conteiner {
        padding: 20px;
    }
    .formulario-evento {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .notificacoes, .formulario-evento {
        width: 90%;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .btn-success {
        font-size: 0.9rem;
    }

    .form-control {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .formulario-evento {
        padding: 15px;
    }

    .form-group label {
        font-size: 0.8rem;
    }

    .btn-success {
        font-size: 0.8rem;
    }

    .form-control {
        padding: 6px;
    }
}
