body {
    font-family:"open sans";
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 40px auto;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 24px;
    color: #00796B;
    text-align: center;
    margin-bottom: 20px;
}

.infor_perfil-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.infor_perfil {
    flex: 1;
    margin-bottom: 15px;
}

.infor_perfil label {
    display: block;
    font-weight: bold;
    color: #00796B;
    margin-bottom: 5px;
}

.infor_perfil input,
.infor_perfil textarea,
.infor_perfil select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}


input:focus, select:focus, textarea:focus {
    outline: 1px solid #55a8d1; 
    box-shadow: 0 0 5px 2px #68c5f3; 
}

.infor_perfil textarea {
    resize: none;
}

.photo-circle {
    width: 50px;
    height: 50px;
    background-color: #00796B;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 10px;
}

.alterar-btn {
    background-color: transparent;
    border: none;
    color: #00796B;
    font-weight: bold;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-reset, .btn-submit {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-reset {
    background-color: #cccccc;
    color: white;
    border: none;
}

.btn-submit {
    background-color: #004400;
    color: white;
    border: none;
}


.foto_perfil{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}