* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: auto; 
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 80%;
    padding: 20px;
    background-color: #fefefe;
    min-height: 100vh; 
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.foto_perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.photo-circle {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.Alterar {
    padding: 10px 20px;
    background-color: #1b5d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Alterar:hover {
    background-color: #145200;
}

.infor_perfil {
    margin-bottom: 15px;
}

.infor_perfil label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.infor_perfil input,
.infor_perfil textarea,
.infor_perfil select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button[type="redefinir"] {
    background-color: #ccc;
}

.buttons button[type="submit"] {
    background-color: #1b5d00;
    color: white;
}

.buttons button[type="submit"]:hover {
    background-color: #145200;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .sidebar {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }
    .container {
        width: 100%;
        padding: 10px;
    }
    .sidebar {
        padding: 15px;
    }
    .sidebar h1 {
        font-size: 22px; 
        display: block; 
    }
    .sidebar p {
        font-size: 14px; 
        display: block; 
    }
}


@media screen and (max-width: 480px) {
    .sidebar {
        padding: 10px; 
    }
    .sidebar h1 {
        font-size: 20px; 
        display: block; 
    }
    .sidebar p {
        font-size: 12px; 
        display: block; 
    }
    .Alterar {
        width: 100%;
        padding: 8px;
    }
    .buttons {
        flex-direction: column;
    }
    .buttons button {
        width: 100%;
    }
}
