
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.foto_perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.photo-circle {
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}

.Alterar {
    padding: 10px 20px;
    background-color: #1b5d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Alterar:hover {
    background-color: #145200;
}

.infor_perfil-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.infor_perfil-group .infor_perfil {
    flex: 1;
}

.infor_perfil input,
.infor_perfil textarea,
.infor_perfil select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.infor_perfil {
    margin-bottom: 15px;
}

.infor_perfil label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button[type="redefinir"] {
    background-color: #ccc;
}

.buttons button[type="submit"] {
    background-color: #1b5d00;
    color: white;
}

.buttons button[type="submit"]:hover {
    background-color: #145200;
}

@media screen and (max-width: 1024px) {
    form {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    form {
        max-width: 100%;
    }
    
    .infor_perfil-group {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .Alterar {
        width: 100%;
        padding: 8px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
    }
}

