<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_404.css')}}">
</head>
<body>
    <div class="container">
        
        <div class="image-container">
            <img src="../static/assets/desenho tela inicial (3).png" alt="Logo do CliqueCompra" alt="Página não encontrada">
        </div>

        
        <div class="message">
            <h2>Ops! Página não encontrada.</h2>
            <p>Desculpe, a página que você procura não existe ou foi movida.</p>
            <p><a class="voltar" href="{{url_for('inicial')}}">Voltar à página inicial</a></p>
        </div>

    </div>
</body>
</html>
