<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_cadastro.css')}}">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro"> 
        <div class="titulo">
            <h1>Cadastro</h1>
        </div>
        <div class="formulario">
            <form action="{{url_for('cadastro')}}" method="POST">
                <p><label>Nome:</label></p>
                <input class="inp" type="nome" name="nome">
                <p><label>Email:</label></p>
                <input class="inp" type="email" name="email">
                <p><label>CPF:</label></p>
                <input class="inp" type="CPF" name="CPF">
                <p><label>Telefone*:</label></p>
                <input class="inp" type="telefone" name="telefone">
                <p><label>Área de Atuação:</label></p>
                <input class="inp" type="atuaçao" name="area de atuaçao">
                <p><label>Defina uma senha:</label></p>
                <input class="inp" type="password" name="senha">
                <div class="conta"><p>Já possui conta?</p><a href="{{url_for('index')}}">Fazer login</a></div>
                <input class="inp" id="botao" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</body>
</html>