<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_cadastro.css')}}">
    <title>Cadastro</title>
</head>

<body>
    <div class="conteudo">
        <div class="fundo-formulario">

        </div>
        <div class="cadastro">
            <div class="titulo">
                <h1>Cadastro</h1>
            </div>
            <div class="formulario">
                <form action="{{url_for('cadastro')}}" method="POST">
                    <div>
                        <p>Nome:</p>
                        <input class="inp" type="text" name="nome">
                    </div>
                    <div>
                        <p>Email:</p>
                        <input class="inp" type="email" name="email">
                    </div>
                    <div>
                        <p>CPF:</p>
                        <input class="inp" type="text" name="CPF">
                    </div>
                    <div>
                        <p>Telefone*:</p>
                        <input class="inp" type="text" name="telefone">
                    </div>
                    <div>
                        <p>Área de Atuação:</p>
                        <input class="inp" type="text" name="area de atuaçao">
                    </div>
                    <div>
                        <p>Defina uma senha:</p>
                        <input class="inp" type="password" name="senha">
                    </div>
                    <input class="inp-button" id="botao" type="submit" value="Cadastrar">
                    {% if get_flashed_messages() %}
                        <div class="flash">{{ get_flashed_messages()[-1] }}</div>
                    {% endif %}
                    <div class="conta">
                        <p>Já possui conta?</p>
                        <a href="{{url_for('login')}}">Fazer login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
