<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuração do Árbitro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_configuracao.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0pUTdpJmnAIw2cGQpu9SZLmCzKnu5HW4&callback=initMap&libraries=marker" defer></script>
</head>
<body>
    {% extends "home.html" %}

    {% block conteudo %}
    <div class="profile-form-container">
        <div class="form-container">
            <h1 class="form-title">Configuração do Perfil</h1>
            <form action="{{ url_for('update_arbitro') }}" method="POST" enctype="multipart/form-data">
                <div class="infor_perfil-group">
                    <div class="infor_perfil">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" value="{{ user._nome }}" placeholder="Digite seu nome">
                    </div>
                </div>
                <div class="infor_perfil-group">
                    <div class="infor_perfil">
                        <label for="certificado">Certificado</label>
                        <input type="file" id="certificado" name="certificado" required>
                    </div>
                    <div class="infor_perfil">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="cep" placeholder="Digite seu CEP" onblur="buscaEndereco(this.value)">
                    </div>
                </div>
                <div class="infor_perfil">
                    <label for="sobre">Sobre</label>
                    <textarea id="sobre" name="sobre" placeholder="Fale um pouco sobre você">{{ user.sobre }}</textarea>
                </div>
                <div class="infor_perfil-group">
                    <div class="infor_perfil">
                        <label for="estado">Estado</label>
                        <input type="text" id="estado" name="estado" value="{{ user.estado }}" placeholder="Digite seu estado">
                    </div>
                    <div class="infor_perfil">
                        <label for="cidade">Cidade</label>
                        <input type="text" id="cidade" name="cidade" value="{{ user.cidade }}" placeholder="Digite sua cidade">
                    </div>
                </div>

                <!-- Mapa para selecionar localização -->
                <div class="infor_perfil">
                    <label>Localização no Mapa</label>
                    <div id="map" style="height: 300px; width: 100%;"></div>
                    <input type="hidden" id="lat" name="lat">
                    <input type="hidden" id="lng" name="lng">
                </div>

                <div class="buttons">
                    <button type="reset" class="btn-reset">Redefinir</button>
                    <button type="button" class="btn-submit" onclick="submitForm()">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
            let map, marker = null;
            coordenadas.lat = document.getElementById("lat").value;  
            coordenadas.lng = document.getElementById("lng").value;
            async function initMap() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((position) => {
                        const lat = position.coords.latitude;
                        const lng = position.coords.longitude;

                        map = new google.maps.Map(document.getElementById("map"), {
                            center: { lat: lat, lng: lng },
                            zoom: 12
                        });

                        marker = new google.maps.Marker({
                            position: { lat: lat, lng: lng },
                            map: map
                        });

                        document.getElementById("lat").value = lat;
                        document.getElementById("lng").value = lng;

                        map.addListener("click", (event) => {
                            if (marker) marker.setMap(null);

                            coordenadas = { lat: event.latLng.lat(), lng: event.latLng.lng() };

                            marker = new google.maps.Marker({
                                position: coordenadas,
                                map: map
                            });

                            document.getElementById("lat").value = coordenadas.lat;
                            document.getElementById("lng").value = coordenadas.lng;
                        });
                    }, () => {
                        handleLocationError(true);
                    });
                } else {
                    handleLocationError(false);
                }

                fetch('/recuperar_localizacoes')
                .then(response => response.json())
                .then(data => {
                    data.forEach(loc => {
                        new google.maps.Marker({
                            position: { lat: loc.lat, lng: loc.lng },
                            map: map,
                            title: loc.nome
                        });
                    });
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Erro!',
                        text: 'Não foi possível carregar os árbitros no mapa.',
                        icon: 'error',
                        background: '#fff',
                        color: '#222',
                        confirmButtonColor: '#00796B',
                        confirmButtonText: 'Ok'
                    });
                    console.error('Erro ao buscar localizações:', error);
                });
            }

            function handleLocationError(browserHasGeolocation) {
                Swal.fire({
                    title: 'Erro!',
                    text: browserHasGeolocation
                        ? 'O serviço de geolocalização falhou.'
                        : 'Seu navegador não suporta geolocalização.',
                    icon: 'error',
                    background: '#fff',
                    color: '#222',
                    confirmButtonColor: '#00796B',
                    confirmButtonText: 'Ok'
                });
            }

            function buscaEndereco(cep) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById('estado').value = data.uf;
                            document.getElementById('cidade').value = data.localidade;
                        } else {
                            Swal.fire({
                                title: 'CEP não encontrado!',
                                text: 'Verifique o número digitado.',
                                icon: 'warning',
                                background: '#fff',
                                color: '#222',
                                confirmButtonColor: '#00796B',
                                confirmButtonText: 'Ok'
                            });
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Erro!',
                            text: 'Não foi possível buscar o endereço. Tente novamente.',
                            icon: 'error',
                            background: '#fff',
                            color: '#222',
                            confirmButtonColor: '#00796B',
                            confirmButtonText: 'Ok'
                        });
                        console.error('Erro:', error);
                    });
            }

            function submitForm() {
                console.log(coordenadas)
                if (coordenadas) {
                    document.getElementById("lat").value = coordenadas.lat;
                    document.getElementById("lng").value = coordenadas.lng;
                    document.querySelector('form').submit();
                } else {
                    Swal.fire({
                        title: 'Erro!',
                        text: 'Insira uma localização no mapa.',
                        icon: 'error',
                        background: '#fff',
                        color: '#222',
                        confirmButtonColor: '#00796B',
                        confirmButtonText: 'Entendi'
                    });
                }
            }

            window.onload = initMap;

    </script>
    {% endblock %}
</body>
</html>
