<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuração</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_configuracao.css')}}">
</head>
<body>
    {% extends "home.html" %}

    {% block conteudo %}

    <form action="#">
        <div class="foto_perfil">
            <div class="photo-circle">A</div>
            <button type="button" class="Alterar">Alterar</button>
        </div>
    
        <div class="infor_perfil-group">
            <div class="infor_perfil">
                <label for="nome">Nome</label>
                <input type="text" id="nome">
            </div>
            
            <div class="infor_perfil">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome">
            </div>
        </div>
    
        <div class="infor_perfil">
            <label for="sobre">Sobre</label>
            <textarea id="sobre" placeholder="Fale um pouco sobre você"></textarea>
        </div>
    
        <div class="infor_perfil-group">
            <div class="infor_perfil">
                <label for="pronome">Adicione seu pronome</label>
                <select id="pronome">
                    <option>Ele</option>
                    <option>Ela</option>
                </select>
            </div>
    
            <div class="infor_perfil">
                <label for="area">Adicione sua área de atuação</label>
                <select id="area">
                    <option>Árbitro</option>
                    <option>Contratante</option>
                </select>
            </div>
        </div>
    
        <div class="infor_perfil">
            <label for="site">Email</label>
            <input type="text" id="Email" placeholder="Adicione seu email">
        </div>
    
        <div class="infor_perfil">
            <label for="username">Nome de usuário</label>
            <input type="text" id="username">
        </div>
    
        <div class="buttons">
            <button type="redefinir">Redefinir</button>
            <button type="submit">Salvar</button>
        </div>
    </form>
    
     {% endblock %}
</body>

</html>