<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_home.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
   
    <div class="cabecalho">
        <div class="logo">
            <img src="static/assets/logo.png">
        </div>
        <div class="user">
            <p>Fulano de tal</p>
            <div class="foto">
                <span class="material-icons perfil">
                    account_circle
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-content">
            <div class="barra-lateral">
                <div class="rotas">
                    <div class="link">
                        <div class="icone">
                            <span class="material-icons icones">
                                explore
                            </span>
                        </div>
                        <a href="#">Discover</a>
                    </div>
                    <div class="link">
                        <div class="icone">
                            <span class="material-icons icones">
                                person_add_alt
                            </span>
                        </div>  
                        <a href="{{url_for('solicitacao')">Solicitações</a>
                    </div>
                    <div class="link">
                        <div class="icone">
                            <span class="material-icons icones">
                                notifications
                            </span>
                        </div>
                        <a href="#">Notificações</a>
                    </div>
                    <div class="link">
                        <div class="icone">
                            <span class="material-icons icones">
                                email
                            </span>
                        </div>
                        <a href="#">Avaliações</a>
                    </div>
                    <div class="link">
                        <div class="icone">
                            <span class="material-icons icones">
                                settings
                            </span>
                        </div>
                        <a href="#">Configurações</a>
                    </div>
                </div>
            </div>
            <!-- foi fechar conteúdo -->
        <!-- </div> -->
        {%block conteudo%}
        <div class="conteudo">
            <div class="acesso-rapido">
                <div id="cont"  class="solicitacao">
                    <div class="title">
                        <span class="material-icons icones">
                            person_add_alt
                        </span>
                        <p>Solicitações</p>
                    </div>
                    <p>Veja aqui suas solicitações de jogos</p>
                </div>
               <div id="cont"  class="pastidas">
                    <div class="title">
                        <span class="material-icons icones">
                            sports
                        </span>
                        <p>Partidas</p>
                    </div>
                    <p>Veja aqui suas solicitações de jogos</p>
               </div>
               <div id="cont"  class="mensagem">
                    <div class="title">
                        <span class="material-icons icones">
                            mark_unread_chat_alt
                        </span>
                        <p>Mensagens</p>
                    </div>
                    <p>Veja aqui suas solicitações de jogo</p>
               </div>
            </div>

            <div class="avaliacao">
                <p class="title">Avaliações</p>
                <div class="notas">
                    <p>4.5</p>
                </div>

                <div class="comentario">
                    <div class="coment">
                        <div class="usuario">
                            <div class="img">
                                <span class="material-icons imagem">
                                    account_circle
                                </span>
                            </div>
                            <p class="name">Karyne Ohara</p>
                        </div>
                        <div class="texto">
                              <p>Esse é o comentario que eu fiz sobre esse, na selva o patinho feio andava em frente a lagoa e agora tem vida boa</p>
                        </div>
                    </div>
                    <div class="coment">
                        <div class="usuario">
                            <div class="img">
                                <span class="material-icons imagem">
                                    account_circle
                                </span>
                            </div>
                            <p class="name">Karyne Ohara</p>
                        </div>
                        <div class="texto">
                              <p>Esse é o comentario que eu fiz sobre esse, na selva o patinho feio andava em frente a lagoa e agora tem vida boa</p>
                        </div>
                    </div>
                    <div class="coment">
                        <div class="usuario">
                            <div class="img">
                                <span class="material-icons imagem">
                                    account_circle
                                </span>
                            </div>
                            <p class="name">Karyne Ohara</p>
                        </div>
                        <div class="texto">
                              <p>Esse é o comentario que eu fiz sobre esse, na selva o patinho feio andava em frente a lagoa e agora tem vida boa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {%endblock%}  
        </div>
        <footer class="rodape">
            <p>&copy; 2024 - Todos os direitos reservados</p>
            <nav>
                <ul>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="{{url_for('sobre')}}">Sobre nós</a></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>
