<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_home.css')}}">
</head>
<body>
    <div class="cabecalho">
        <div class="logo">
            <p>Árbitros +</p>
        </div>
        <div class="user">
            <p>Fulano de tal</p>
            <div class="foto"></div>
        </div>
    </div>

    <div class="container">
        <div class="barra-lateral">
            <div class="titulo"><p>Árbitros</p></div>
            <div class="rotas">
                <div class="link">
                    <div class="icone"></div>
                    <a href="#">Divcover</a>
                </div>
                <div class="link">
                    <div class="icone"></div>  
                    <a href="#">Solicitação</a>
                </div>
                <div class="link">
                    <div class="icone"></div>
                    <a href="#">Notificações</a>
                </div>
                <div class="link">
                    <div class="icone"></div>
                    <a href="#">Avaliações</a>
                </div>
                <div class="link">
                    <div class="icone"></div>
                    <a href="#">Configurações</a>
                </div>
            </div>
        </div>

        <div class="conteudo">
            <div class="acesso-rapido">
                <div id="cont"  class="solicitacao">
                    <div class="title"><p>Solicitações</p></div>
                    <p>Veja aqui suas solicitações de jogos</p>
                </div>
               <div id="cont"  class="pastidas">
                    <div class="title"><p>Partidas</p></div>
                    <p>Veja aqui suas solicitações de jogos</p>
               </div>
               <div id="cont"  class="mensagem">
                    <div class="title"><p>Mensagem</p></div>
                    <p>Veja aqui suas solicitações de jogo</p>
               </div>
            </div>

            <div class="avaliacao">
                <p>Avaliações</p>
            </div>
        </div>
    </div>
</body>
</html>
