<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_inicial.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cabecalho">
        
        <div class="logo">
           <img src="static/assets/logo.png">
        </div>

        <div class="rotas">
            <a href="{{url_for('cadastro')}}">Cadastre-se</a>
            <a href="{{url_for('index')}}">Login</a>
        </div>
    </div>
    
    <main></main>
    
</body>
</html>