<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Árbitros +</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!--Div onde fica as informações-->
        <div class="content first-content">
            <div class="primeira-coluna">
                <h2 class="titulo titulo-primary">Bem - vindo !</h2>
                <p class="descricao descricao-primary"> Para conectar-se conosco</p>
                <p class="descricao descricao-primary">Por favor cadastre-se com suas informações</p>
                <button id="singin" class="btn btn-comborda btn-second">Cadastro</button>
            </div>
            <!--Div onde fica o formulario-->
            <div class="segunda-coluna">
                <h2 class="titulo titulo-second">Faça seu login</h2>
                <p class="descricao descricao-second">Utilize seu email para registro</p>
                <form action="{{url_for('login')}}" class="form" method="POST">
                    <div class="email gru-input">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="email">
                    </div>
                    <div class="senha gru-input">
                        <div class="form-group">
                            <label>Senha:</label>
                            <div class="password-wrapper">
                                <input class="form-control password-input" type="password" name="senha" required id="loginPassword">
                                <i class="toggle-password fas fa-eye" onclick="togglePassword('loginPassword')"></i>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-second">Logar</button>
                </form>
            </div>
        </div>

        <!--Cadastro-->
        <div class="content second-content">
            <div class="primeira-coluna">
                <h2 class="titulo titulo-primary">Bem - vindo !</h2>
                <p class="descricao descricao-primary">Para se manter conectado conosco</p>
                <p class="descricao descricao-primary">Por favor logue-se com suas informações</p>
                <button id="singup" class="btn btn-comborda btn-second">Login</button>
            </div>
            <!--Div onde fica o formulario-->
            <div class="segunda-coluna">
                <h2 class="titulo titulo-second">Faça seu Cadastro</h2>
                <form action="{{url_for('cadastro')}}" class="form" method="POST">
                    <div class="nome gru-input">
                        <label>Nome:</label>
                        <input type="text" name="nome" placeholder="Nome Completo" required>
                    </div>
                    <div class="gru-input gru-input-second">
                        <div class="cpf">
                            <label>CPF/CNPJ:</label>
                            <input type="text" name="cpf" id="cpf" placeholder="CPF/CNPJ" required>
                        </div>
                        <div class="telefone">
                            <label>Telefone:</label>
                            <input type="tel" name="telefone" placeholder="Telefone" required>
                        </div>
                    </div>
                    <div class="gru-input">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="gru-input gru-input-second">
                        <div class="senha-field" style="width: 48%;">
                            <label>Crie Sua Senha:</label>
                            <div class="password-wrapper">
                                <input type="password" name="senha" required id="registerPassword" class="password-input">
                                <i class="toggle-password fas fa-eye" onclick="togglePassword('registerPassword')"></i>
                            </div>
                        </div>
                        <div class="senha-field" style="width: 48%;">
                            <label>Confirme Sua Senha:</label>
                            <div class="password-wrapper">
                                <input type="password" name="confirmaSenha" required id="confirmPassword" class="password-input">
                                <i class="toggle-password fas fa-eye" onclick="togglePassword('confirmPassword')"></i>
                            </div>
                        </div>
                    </div>


                   <div class="gru-input" style="margin-top: 20px;">
                        <label>Selecione Sua Área:</label>
                        <select id="userType" name="tipo" class="form-control">
                            <option value="contratante" selected>Contratante</option>
                            <option value="arbitro">Árbitro</option>
                        </select>
                   </div>
                    <button class="btn btn-second">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script>
function togglePassword(id) {
    const passwordInput = document.getElementById(id);
    const icon = passwordInput.nextElementSibling;

    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
}
</script>
</body>
</html>
