<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.cs" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="conteiner">
        <!--Div onde fica as informações-->
        <div class="content first-content">
            <div class="primeira-coluna">
                <h2 class="titulo titulo-primary">Bem - vindo !</h2>
                <p class="descricao descricao-primary"> Para conectar-se conosco</p>
                <p class="descricao descricao-primary">Por favor cadastre-se com suas informações</p>
                <button id="singin" class="btn btn-primary">Cadastro</button>
            </div>
            <!--Div onde fica o formulario-->
            <div class="segunda-coluna">
                <h2 class="titulo titulo-second">Faça seu login</h2>
                <p class="descricao descricao-second">Utilize seu email para registro</p>
                <form action="{{url_for('login')}}" class="form" method="POST">
                    <div class="email gru-input">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="email">
                    </div>
                    <div class="senha gru-input">
                        <label>Senha:</label>
                        <input type="password" name="senha" placeholder="senha">
                    </div>
                    {% if get_flashed_messages() %}
                        <div class="flash">{{ get_flashed_messages()[-1] }}</div>
                    {% endif %}
                    <button  class="btn btn-second">Logar</button>
                </form>
            </div>
        </div>
        
        <!--Cadastro-->
        <div class="content second-content">
            <div class="primeira-coluna">
                <h2 class="titulo titulo-primary">Bem - vindo !</h2>
                <p class="descricao descricao-primary">Para se manter conectado conosco</p>
                <p class="descricao descricao-primary">Por favor logue-se com suas informações</p>
                <button  id="singup" class="btn btn-primary">Login</button>
            </div>
            <!--Div onde fica o formulario-->
            <div class="segunda-coluna">
                <h2 class="titulo titulo-second">Faça seu Cadastro</h2>
                <form action="{{url_for('cadastro')}}" class="form" method="POST">
                    <div class="nome gru-input">
                        <label>Nome:</label>
                        <input type="text" name="nome" required>
                    </div>
                    <div class="gru-input gru-input-second">
                        <div class="cpf">    
                            <label>CPF/CNPJ:</label>
                            <input type="number" name="cpf" placeholder="CPF/CNPJ" required>
                        </div>
                        <div class="telefone">
                            <label>Telefone:</label>
                            <input type="number" name="telefone" placeholder="Telefone" required>
                        </div>
                    </div>
                    <div class="gru-input">
                        <label>Email:</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="gru-input gru-input-second">
                        <div class="senha1">
                            <label>Crie Sua Senha:</label>
                            <input type="password" name="senha" required>
                        </div>
                        <div class="senha1">
                            <label>Confirme Sua Senha:</label>
                            <input type="password" name="senha-conf" required>
                        </div>
                    </div>
                    
                    <div class="gru-input">
                       <label>Selecione Sua Area:</label>
                       <select id="userType" name="tipo">
                           <option value="contratante" selected>Contratante</option>
                           <option value="arbitro">Árbitro</option>
                       </select>
                    </div>
                    
                    <div id="arb-campo" style="display: none;">
                         <label>Árbitro:</label>
                         <input type="text" id="profissional" name="certificado" placeholder="num certificado">
                    </div>
                    <button class="btn btn-second">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>