<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árbitros +</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_notificacoes.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% extends "home.html" %}
    {% block conteudo %}
    <section id='secao-noti'>
        <div class="noti-container">
            <div class="noti-header">
                <h2>Notificações</h2>
            </div>
            {% if not notificacoes %}
            <div class="no-notifications">
                <div class="empty-state">
                    <span class="material-icons" style="font-size: 80px; color: #00796B;">notifications_off</span>
                    <h3>Nenhuma notificação por aqui!</h3>
                    <p>Quando surgir algo novo, aparecerá aqui.</p>
                    <div class="smile-emoji">😊</div>
                </div>
            </div>
            {% else %}
            {% for notificacao in notificacoes %}
            <div class="noti">
                <div class="noti-content">
                    <strong>Nova Mensagem</strong>
                    <p>{{notificacao.conteudo}}</p>
                    <span class="noti-time">{{notificacao.data}}</span>
                </div>
                <form action="{{url_for('excluir_notificacoes', id=notificacao.id)}}">
                    <button class="apagar-btn">&times;</button>
                </form>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
    {% endblock %}
</body>
</html>
