<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partidas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_partidas.css')}}">
</head>
<body>
    {% extends "home.html" %}

    {% block conteudo %}
    <div class="container py-5">
        <h1 class="text-center fw-bold mb-4" style="color: #00796B; font-size: 2.5rem; text-transform: uppercase; letter-spacing: 2px;">Partidas Agendadas</h1>
        
        {% if partidas %}
            <div class="d-flex flex-column gap-4">
                {% for partida in partidas %}
                    <div class="p-4 border rounded shadow bg-white position-relative" style="border-left: 8px solid #004d40;">
                        <h3 class="text-dark fw-bold" style="font-size: 1.7rem; color: #00796B;  margin-bottom: 10px;">⚽Partida {{ partida.par_id }}</h3>
                        <p class="mb-2 text-muted" style="font-size: 1rem;">📅 <strong>Data:</strong> {{ partida.sol_data }}</p>
                        <p class="mb-2 text-muted" style="font-size: 1rem;">⏳ <strong>Início:</strong> {{ partida.sol_inicio }}</p>
                        <p class="mb-2 text-muted" style="font-size: 1rem;">🏁 <strong>Fim:</strong> {{ partida.sol_termino }}</p>
                        <p class="mb-2 text-muted" style="font-size: 1rem;">👤 <strong>Contratante:</strong> {{ partida.contratante }}</p>
                        <span class="badge bg-success position-absolute top-0 end-0 m-3" style="font-size: 1rem; padding: 10px 15px;">{{ partida.status }}</span>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning text-center" role="alert" style="font-size: 1.2rem; padding: 15px;">
                Nenhuma partida encontrada. 
            </div>
            
        {% endif %}
    </div>

    {% endblock %}
</body>
</html>



