{% extends "home.html" %}

{% block conteudo %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_sobre.css') }}">
</head>
<body>
    <div class="conteudo">   
        <div class="sobre"> 
            <h1>Sobre</h1>
            <p>Bem-vindo ao nosso site, uma plataforma dedicada a conectar profissionais qualificados com eventos escolares que necessitam de arbitragem especializada. Nosso objetivo é facilitar a organização desses eventos, garantindo que cada um deles tenha a arbitragem adequada e de alta qualidade. Além de promover essa conexão, visamos como critério fundamental a confiança e segurança.</p>
            <p>Nosso compromisso é com a excelência e a eficiência, proporcionando uma experiência tranquila tanto para os organizadores quanto para os árbitros. Trabalhamos com uma rede ampla de profissionais experientes, prontos para atender às necessidades específicas de cada evento.</p>
            <p>Além disso, oferecemos suporte contínuo e personalizado, assegurando que todas as etapas do processo sejam conduzidas com profissionalismo e atenção aos detalhes. Junte-se a nós e descubra como podemos transformar a gestão de arbitragem do seu evento em uma tarefa simples e eficiente.</p>
        </div>
        <div class="importancia">
            <h1>Importância do Site</h1>
            <p>Nosso site é essencial para garantir que eventos de diversas naturezas, sejam esportivos, culturais ou corporativos, tenham acesso a árbitros qualificados e disponíveis. A plataforma não só facilita a conexão entre organizadores e profissionais, mas também assegura que os árbitros atendam aos critérios mínimos de qualificação, promovendo a excelência e a integridade em cada evento.</p>
            <p>Oferecemos ferramentas de gestão que simplificam o processo de seleção e contratação. Nossa missão é garantir que cada evento seja conduzido com o mais alto padrão de profissionalismo, proporcionando tranquilidade e confiança aos organizadores.</p>
        </div>
        <div class="atende">
            <h1>Quem Atendemos?</h1>
            <p>Nosso público-alvo inclui organizadores de eventos que buscam árbitros qualificados e profissionais de arbitragem que desejam expandir suas oportunidades de trabalho. Seja você um organizador procurando garantir a qualidade do seu evento ou um árbitro em busca de novas oportunidades, nossa plataforma está aqui para atender às suas necessidades. Estamos comprometidos em proporcionar uma experiência eficiente e confiável para todos os nossos usuários, promovendo a excelência em cada evento.</p>
        </div>
        <div class="desenvolvedores">
            <h1>Nossa Equipe</h1>
            <div class="dev-container">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <div class="imagem-container">
                            <img class="imagem-perfil" src="https://avatars.githubusercontent.com/u/153088012?v=4" alt="Ariane Valéria">
                        </div>
                        <h5 class="card-title">Ariane Valéria</h5>
                        <p class="card-text">Desenvolvedora</p>
                        <a href="https://github.com/arianevaleira" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <div class="imagem-container">
                            <img class="imagem-perfil" src="https://avatars.githubusercontent.com/u/150279762?v=4" alt="Karyne Ohara">
                        </div>
                        <h5 class="card-title">Karyne Ohara</h5>
                        <p class="card-text">Desenvolvedora</p>
                        <a href="https://github.com/KaryneOhara" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <div class="imagem-container">
                            <img class="imagem-perfil" src="https://avatars.githubusercontent.com/u/154358850?v=4" alt="Maria Eduarda">
                        </div>
                        <h5 class="card-title">Maria Eduarda</h5>
                        <p class="card-text">Integrante</p>
                        <a href="https://github.com/MariaEduardaSilvaa" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <div class="imagem-container">
                            <img class="imagem-perfil" src="https://avatars.githubusercontent.com/u/150279957?v=4" alt="Joaquim Antonio">
                        </div>
                        <h5 class="card-title">Joaquim Antonio</h5>
                        <p class="card-text">Integrante</p>
                        <a href="https://github.com/Joak12" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>
{% endblock %}