<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_solicitacao.css')}}">
</head>
<body>
    {% extends "home.html" %}

    {%block conteudo%}
    <div class="cont">
        <div class="form">
            <form action="{{url_for('solicitacao')}}">
                <div class="email">    
                    <label>Email:</label>
                    <input type="email" name="email">
                </div>
                <div class="data-e-modalidade">
                    <div class="data">
                        <label>Data:</label>
                        <input type="date">
                    </div>
                    <div class="modalidade">    
                        <label>Modalidade:</label>
                        <input type="text">
                    </div>
                </div>
                <div class="horarios">
                    <div class="inicio">    
                        <label>Inicio:</label>
                        <input type="time">
                    </div>
                    <div class="termino">
                        <label>Termino:</label>
                        <input type="time">
                    </div>
                </div>
                <div class="desc">
                    <h3>Descrição do Envento:</h3>
                    <textarea id="descricao" name="descricao" rows="10" cols="50" placeholder="Digite sua descrição aqui..."></textarea>
                </div>
                <div class="botao">
                    <input class="enviar" id="botao" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
    {%endblock%}
</body>
</html>